.box {
  position: fixed;
  text-align: center;
  width: 35%;
  background-color: #eee;
  color: #252525;
  padding: 1rem;
  border-radius: 1.5rem;
  z-index: 50;
  left: 32%;
  top: 30%;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;

  &-close {
    position: absolute;
    background: #252525;
    color: #f2f4f5;
    cursor: pointer;
    left: 5%;
    top: -8%;
    padding: 0.4rem;
    border-radius: 50%;
  }

  &-details {
    text-align: center;

    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #1b67a7;
    }

    &__form {
      padding-top: 2.5rem;
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
        font-weight: 500;
        color: #252525;
        margin: 1rem 0;
      }

      input[type="text"] {
        padding: 1rem;
        border-radius: 1.5rem;
        border: none;
        outline: none;
        background-color: #fff;
        box-shadow: 0 12px 24px 0 #f2f4f5;
        border: 2px solid #1b67a7;
        margin: 1rem 0;
        text-align: left;
      }

      input[type="submit"] {
        padding: 1rem;
        border-radius: 1.5rem;
        border: none;
        background-color: #1b67a7;
        color: #f2f4f5;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
      }
    }
  }

  @media screen and (max-width: 992px) {
    width: 90%;
    left: 5%;
  }
}
