.navs {
  background-color: #1b67a7;
  padding: 0.8rem 0;
  color: #fff;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__links {
      display: flex;
      align-items: center;

      &-lang {
        display: flex;
        flex-direction: column;
      }
      &-auth {
        padding: 0.5rem 1.2rem;
        background-color: #f2f4f5;
        color: #252525;
        border-radius: 0.5rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          background-color: #fff;
          color: #252525;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}
