.accordion {
  padding: 6rem 0;
  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  &-content {
    width: 70%;
    margin: 4rem auto;
    cursor: pointer;

    &__list {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      color: #252525;
      width: 100%;
      border-radius: 0.5rem;
      height: 55px;
      margin: 2rem 0;
      position: relative;
      transition: all 0.4s ease-in-out;

      &::after {
        content: "";
        background-color: #1b67a7;
        width: 6px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.25rem 0 0 0.25rem;
      }

      &.active-list {
        height: 200px;
        transition: all 0.4s ease-in-out;
      }

      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        padding: 1rem;

        &__title {
          font-size: 1.2rem;
          font-weight: 500;
        }

        &__icon {
          font-size: 1.2rem;
          font-weight: 400;
          transition: transform 0.4s ease-in-out;

          &.active-icon {
            transform: rotate(180deg);
            transition: transform 0.4s ease-in-out;
            color: #1b67a7;
          }
        }
      }

      &-body {
        padding: 1rem 2rem;
        font-size: 0.9rem;
        font-weight: 300;
        color: #252525;
        opacity: 0;
        display: none;
        font-weight: 500;

        &.active-body {
          opacity: 1;
          display: block;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-content {
      width: 100%;

      &__list {
        &-body {
          padding: 0.2rem 1.3rem;
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
    }
  }
}
