.header {
  padding: 5rem 0;
  &-container {
    display: flex;
    justify-content: space-between;
    color: #252525;

    &__left {
      text-align: right;
      flex: 0.5;
      margin-top: 5.5rem;

      &-title {
        font-size: 2rem;
        font-weight: bold;
      }
      &-subtitle {
        font-size: 0.95rem;
        margin: 1.5rem 0;
      }
      &-btn {
        padding: 0.5rem 1.2rem;
        background-color: #1b67a7;
        color: #f2f4f5;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        transition: all 0.4s ease-in-out;

        span {
          margin-right: 0.5rem;
        }

        &:hover {
          background-color: #acacac;
          color: #252525;
          transition: all 0.4s ease-in-out;
        }
      }
    }
    &__right {
      flex: 0.5;

      img {
        width: 100%;
        height: 100%;
      }
    }


    @media screen and (max-width :992px){
      flex-direction: column-reverse;
      &__left{
        margin: 1rem 0 1.5rem 0;
        flex: 1;
        text-align: center;
        
      }
      &__right{
        flex: 1;
      }
    }
    @media screen and (max-width :768px){
      flex-direction: column-reverse;
      &__left{
        margin: 1rem 0 1.5rem 0;
        flex: 1;
        text-align: center;

        &-title{
          font-size: 1.5rem;
        }
        &-subtitle{
          font-size: .7rem;
        }
        &-btn{
          padding: .4rem 1rem;
          font-size: 1rem;
        }
        
      }
      &__right{
        flex: 1;
      }
    }
    @media screen and (max-width :550px){
      flex-direction: column-reverse;
      &__left{
        margin: .2rem 0 1.5rem 0;
        flex: 1;
        text-align: center;

        &-title{
          font-size: 1.2rem;
        }
        &-subtitle{
          font-size: .9rem;
          padding: 0 .5rem;
        }
        &-btn{
          padding: .4rem 1rem;
          font-size: 1rem;
        }
        
      }
      &__right{
        flex: 1;
      }
    }
  }
}
