.services {
  padding: 5rem 0;

  &-container {
    position: relative;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 500;

      h1{
          color: #efaf;
          margin: 0 .5rem;
      }
    }
    &__box{
        padding: 1rem 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &-item{
            width: 28%;
            text-align: center;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            border-radius: .5rem;
            margin: 1rem .6rem;
            padding: 1.5rem;

            &__title{
                padding: 1rem 0;
                font-size:1.5rem;
                font-weight: 600;
            }
            &__subtitle{
                font-size: 1.1rem;
                margin-top: .5rem;

            }
        }
    }
  }
}
