.footer {
  background-color: #1b67a7;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f4f5;

  &-container {
    display: flex;
    justify-content: space-between;

    &__left {
      line-height: 2.5;

      &-title {
        font-size: 1.5rem;
      }
      &-items {
        &__detail {
          display: flex;
          align-items: center;

          &-icon {
            margin-left: 0.8rem;
          }
          &-text {
            font-size: 1.1rem;
            font-weight: 400;
          }
        }
      }
    }
    &__right {
      &-social {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          color: #f2f4f5;
          transform: scale(1);
          transition: transform 0.4s ease-in-out;

          &:hover {
            color: inherit;
            transform: scale(1.3);
            transition: transform 0.4s ease-in-out;
          }
        }
      }
      &-email {
        position: relative;
        margin: 1.5rem 0;

        input {
          width: 100%;
          border-radius: 0.5rem;
          border: 1px solid #16161a;
          height: 35px;
          padding-right: 0.5rem;
          font-size: 0.9rem;
        }
        button {
          position: absolute;
          content: "";
          height: 100%;
          background-color: #16161a;
          top: 0;
          left: 0;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          width: 75px;
          color: #fff;
          border: none;
        }
      }
    }
  }
}
